./vagrant

inc/champsim_constants.h
inc/cache_modules.inc
inc/ooo_cpu_modules.inc
src/core_inst.cc
.champsimconfig_cache
./Makefile

bin/
obj/

**/*.o
**/*.d

tracer/pin/obj-intel64/
tracer/pin/pin-3.26-98690-g1fc9d60e6-gcc-linux



### VSCODE ###

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

